
.btn-wp{
    width: 4%;
    position: fixed;
    right: 0;
    bottom: 20%;
    margin: 0 7px 10px 0;
    z-index: 1000;
}

.btn-wp img{
    width: 100%;
}


/* ===== Media querys ==== */

@media (max-width:850px){
    .btn-wp{
        width: 10%;
    }
}

@media (max-width:450px){
    .btn-wp{
        width: 12%;
        margin-right: 3px;

    }
}