@import 'animations.css';

.container-landing-pages{
    width: 100%;
    background: var(--blueDos);
    padding: 80px 0;

}

.container-landing-pages header{
    width: 50%;
    max-width: 1500px;
    margin: auto;
    padding: 13px 0;
    background: var(--blueUno);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);

}

.container-landing-pages header h2{
    color: var(--blanco);
    font-size: 30px;
    text-align: center;
}
.container-landing-pages header h3{
    color: var(--primary);
    font-size:30px;
    text-align: center;
}

.container-landing-pages .contenido-1{
    width: 80%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    align-items: center;

}
.container-landing-pages .contenido-1 img{
    width: 50%;
    max-width: 500px;
    opacity: 0;}

.contenido-1 img.motion-translate{
    opacity: 1;
    transition: all 1s;
}

.container-landing-pages .contenido-1 p{
    color: var(--blanco);
    font-size: 20px;
    width: 50%;
}

.container-landing-pages .contenido-2{
    width: 80%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.container-landing-pages .contenido-2 img{
    width: 50%;
    max-width: 500px;
    margin-right: 70px;
    opacity: 0;
    transform: translateX(-250px);
}

.contenido-2 img.motion-translate{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}


.container-landing-pages .contenido-2 p{
    color: var(--blanco);
    font-size: 20px;
    width: 50%;
}




/* ====== media querys ========*/

@media (max-width:850px){
    .container-landing-pages .contenido-1{
        width: 95%;
        margin-top:50px;
    }
    .container-landing-pages .contenido-1 p{
       width: 80%;
       order:1
    }
    .container-landing-pages .contenido-1 img{
        width: 80%;
        margin-bottom: 50px;
    }

    .container-landing-pages .contenido-2{
        width: 95%;
        margin-top:50px;
    }
    .container-landing-pages .contenido-2 p{
       width: 80%;
    }
    .container-landing-pages .contenido-2 img{
        width: 80%;
        margin-bottom: 50px;
        margin-right: 0;
    }

    .container-landing-pages header{
        width: 80%;         
    }

    .container-landing-pages header h2{
        font-size: 27px;
    }
    .container-landing-pages header h3{        
        font-size:27px;
    }
}


@media (max-width:450px){
    .container-landing-pages .contenido-1{
        width: 100%;
        margin-top:50px;
        padding: 0 30px;
    }
    .container-landing-pages .contenido-1 p{
       width: 100%;
       font-size: 14px;
       order:1
    }
    .container-landing-pages .contenido-1 img{
        width: 100%;
        margin-bottom: 20px;
    }

    .container-landing-pages .contenido-2{
        width: 100%;
        margin-top:50px;
        padding: 0 30px;
    }
    .container-landing-pages .contenido-2 p{
       width: 100%;
       font-size: 14px;
       order:1
    }
    .container-landing-pages .contenido-2 img{
        width: 100%;
        margin-bottom: 20px;
    }

    .container-landing-pages header{
        width: 90%;
        padding: 10px 15px;         
    }

    .container-landing-pages header h2{
        font-size: 27px;
    }
    .container-landing-pages header h3{        
        font-size:27px;
    }
}



