@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;1,400&display=swap');
@import 'variables.css';
/* @import '../node_modules/swiper/swiper-bundle.css'; */
@import 'slider_home_1.css';
@import 'slider_home_2.css';
@import 'section_2.css';
@import 'section_3.css';
@import 'section_4.css';
@import 'footer.css';
@import 'header.css';
@import 'modal.css';
@import 'btnWhatsapp.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*font-family: 'PT Serif', serif;*/
}

body{
    background: var(--negro);
}















